<%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.label "Owner's Name: " + @dog.owner_name %>
  <%= f.input :description, as: :text %>

  <div class="photos">
    <%= f.label :images %>
    <%= f.file_field :image, :multiple => true %>
  </div>

  <% if @dog.images.any? %>
    <%= image_tag @dog.images.first %>
  <% end %>

  <%= f.button :submit %>
<% end %>
